.square {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin-bottom: 16px;
  margin-right: 8px;
  margin-left: 8px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.letter {
  height: 75px;
  width: 75px;
  margin-top: 25%;
  font-size: 30px;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  justify-content: center;
}

h1 {
  text-align: center;
  color: white;
  font-size: 3em;
}

body {
  background-color: black;
  font-family: 'Source Sans Pro', sans-serif;
}

.result {
  color: white;
  background-color: blue;
  text-align: center;
  width: 300px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 55px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  border-radius: 20px;
}

.key {
  width: 60px;
  height: 60px;
  background-color: gray;
  border-radius: 10px;
  margin-right: 10px;
  border: none;
}
